.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 100rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  will-change: transform;
  backface-visibility: hidden;
  background-color: #262150;
}

/*.menulist {
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease;
}

.menulist:hover {
  color: lightsalmon;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid;
}*/
.menulist {
  position: relative;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}


.menulist::after {
  content: "";
  position: absolute;
  width: 0%;
  height: .2rem;
  bottom: 0;
  left: 0;
  background-color: red;
  transition: width 0.3s ease;
}

.menulist:hover::after {
  width: 100%;
}


.menubtn {
  margin: 1rem;
  cursor: pointer;
  background: #aa3def;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0 2rem;
}

.menubtnimg {
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 0;
}

.cont {
  font-size: 1.2rem;
  color: black;
}
.contact-menu-item {
  display: none;
}

.desktop-only {
  display: flex;
}
.abt{
  height: 1.7rem;
  margin-left: 0.4rem;
}



/* Responsive Styles */
@media screen and (max-width: 840px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1001;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 0;
    align-items: center;
    gap: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .menu.active {
    display: flex;
  }

  .menulist {
    color: #262150;
    padding: 0.8rem 1rem;
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }

  .menubtn {
    display: none;
  }
  .contact-menu-item {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    color: black;
  }

  .desktop-only {
    display: none;
  }
}
